.header {
    width: 100%;
    position: fixed;
    background-color: #fff;
    padding: 25px 0;
    z-index: 10;

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__logo {
            height: 54px;
            img {
                height: 100%;
            }
        }

        &__nav {
            display: flex;
            align-items: center;
            column-gap: 30px;
        }

        button {
            background-color: #fff;
            width: 215px;
            height: 65px;
            font-weight: 400;
            font-size: 24px;
            border-radius: 5px;
        }

    }
}