.header {
    width: 100%;
    position: fixed;
    background-color: #fff;
    padding: 25px 0;
    z-index: 10;

    

    .container {
        max-width: 1250px;
        width: 100%;
        margin: auto;


    }
    .navbar {
        display: flex;
        
        &__logo {
            margin-right: 200px;
           

            img {
                align-items: center;
                width: 106px;
                height: 54px;
            }
        }

        &__nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 30px;
            
        }
        
        &__btn {
            margin-left: 240px;

            button {
                background-color: #fff;
                width: 215px;
                height: 65px;
                font-weight: 400;
                font-size: 24px;
                border-radius: 5px;
            }
        }
            
    }
}