@media (max-width:1200px){
    .container {
        max-width: 970px;
    }
    .header {
        .navbar {
            &__logo {
                img {
                    width: 150%;
                    height: 44px;
                }
            }
        }
    }
   .Britlex {
       &__title {
           font-size: 54px;
       }
       &__btn {
           font-size: 26px;
           height: 108px;
       }
   }

}
@media(max-width:992px){
    .container {
        max-width: 750px;
    }
}